@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
    background-color: #a5ba5b27;
    display: flex;
    flex-direction: column;
    animation: ;
  }


  #Vincent .container-nav-bar{
    z-index: 6;
    
    transform: translateX(-100%);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.459);
    transform: translate(-100%);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease-in;
    position: fixed;
}

#Vincent .container-nav-bar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: "Roboto", sans-serif;
  }
  #Vincent .container-nav-bar a {
    color: black;
    text-decoration: none;
  }

  #Vincent .container-nav-bar li::first-letter {
    color: #266654;
    font-weight: 600;
  }

  #Vincent .menu{padding: 10px;}

  #Vincent .mobile-menu {
    transform: translateX(0);
  }

  #Vincent .logo {
    margin-top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}




  #Vincent  .logo .logo-img {
    z-index: 8;
    width: 100px;
    
    cursor: pointer;
  }
  #Vincent header {
    position: relative;
  }
  #Vincent .logo-ham {
    display: flex;
    
  }

  #Vincent .hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: absolute;
    right: 50px;
    
  }

  #Vincent .hamburger .menu-hamburger {
    z-index: 7;
    width: 50px;
    cursor: pointer;
    position: fixed;
    filter: drop-shadow(1px 1px 0px #000000);
  }


  #Vincent .fond-img {
    display: none;
    
  }

  #Vincent .fond {
    overflow: hidden;
    position: relative;
    border-top: 2px solid black;
  }


  #Vincent .fond .fond-img2 {
    display: block;
    width: 100vw;
  }

  #Vincent .fond .sharing {
    width: 100%;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 1em;
    color: white;
    animation: sharing 1s ease-in-out forwards;
    font-style: italic;
    
  }

  #Vincent .fond .sharing h1{
    font-family: 'Alex Brush', cursive;
  }


  #ancre_tony{
    margin-bottom: 100px;
  }
  #ancre_alexandre{
    margin-bottom: 100px;
  }
  #ancre_mamady{
    margin-bottom: 110px;
  }
  #ancre_ALEXANDRA{
    margin-bottom: 150px;
  }



  @keyframes sharing {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* FOOTER CSS CHANGEMENT */

#Vincent-footer .footer {
  background-color: #266658;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  color: white;
}

#Vincent-footer .logo-cowo {
  display: none;
}

#Vincent-footer .reseau-loc-hor {
  display: flex;
  gap: 50px;
}

#Vincent-footer .reseaux {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-left: -50px;
  flex: 1;
}

#Vincent-footer .reseaux p {
  margin-bottom: 5px;
  font-size: 1em;
  letter-spacing: 0.25px;
}
#Vincent-footer .reseaux p::first-letter {
  color: #0c2428;
  font-weight: bold;
}

#Vincent-footer .reseaux img {
  width: 30px;
  margin-bottom: 5px;
}

#Vincent-footer .localisation {
  display: flex;
  padding-left: 3px;
  flex: 1;
}
#Vincent-footer .horaire {
  display: flex;
  flex: 1;
}

#Vincent-footer .horraire-localisation img {
  width: 40px;
  height: 40px;
}

#Vincent-footer .horraire-localisation p {
  font-size: 0.6em;
  color: white;
}
#Vincent-footer .horraire-localisation h5 {
  font-size: 0.6em;
}

#Vincent-footer .localisation img {
  width: 35px;
  height: 35px;
}

#Vincent-footer .horraire-localisation {
  flex: 1;
}

#Vincent-footer .texte {
  display: flex;
  flex-direction: column;
}

/* Fin Footer */

 

  @media screen and (min-width: 800px)
  {
    @keyframes anim {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      
      #Vincent .container-nav-bar {
        z-index: 6;
        transform: translateX(0%);
        z-index: 8;
        border-bottom: 1px solid #266654;
        padding: 20px;
        box-shadow: 0px 1px 0px 0px #00000075;
        position: fixed;
        width: 100%;
        height: 80px;
        background-color: rgba(255, 255, 255, 0.548);
        backdrop-filter: blur(10px);
        animation: anim 2s ease-in-out forwards;
}
      
#Vincent .container-nav-bar ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-family: "Roboto", sans-serif;
      }
      
      #Vincent .container-nav-bar a {
        color: black;
        text-decoration: none;
      }
      
      #Vincent .menu:hover {
        transform: translateY(-5px);
        transition: transform 0.6s ease-in-out;
      }
      #Vincent  a::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #266658;
        transition: transform 0.6s ease-in-out;
        transform: scale(0);
      }
      
      #Vincent  .menu a {
        position: relative;
      }
      
      #Vincent a:hover::after {
        transform: scale(1);
      }
      
      #Vincent .container-nav-bar li::first-letter {
        color: #266654;
        font-weight: 600;
      }
      
      #Vincent  .menu {
        padding: 20px;
      }
      #Vincent  .hamburger {
        display: none;
      }

      #Vincent .logo .logo-img {
        z-index: 5;
        width: 200px;
        margin-top: 76px;
        animation: anim 2s ease-in-out forwards;
      }

      
      #Vincent .fond .fond-img2 {
        display: none;
      }
      
      #Vincent .fond .fond-img {
        display: block;
        width: 100%;
      }


/* VINCENT FOOTER MEDIA */


      #Vincent-footer .logo-all {
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 50px;
      }
      #Vincent-footer .reseau-loc-hor {
        width: 50vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }
      #Vincent-footer .reseaux {
        width: 100%;
        align-items: flex-start;
        padding-left: 66px;
        flex: 0;
      }
      #Vincent-footer .reseaux p {
        margin-bottom: 15px;
        text-align: center;
        font-size: 1.5em;
      }
    
      #Vincent-footer .reseaux img {
        width: 50px;
        margin-bottom: 5px;
      }
    
      #Vincent-footer .logo-cowo {
        display: initial;
        width: 50vw;
        display: flex;
        align-items: center;
        justify-content: right;
      }
    
      #Vincent-footer .logo-cowo img {
        width: 300px;
      }
      #Vincent-footer .localisation {
        display: flex;
        padding-left: 3px;
        flex: 0;
      }
      .reseau-loc-hor {
        gap: 0;
      }
    
      #Vincent-footer .localisation img {
        width: 80px;
        height: 80px;
      }
      #Vincent-footer .horaire {
        display: flex;
        flex: 0;
      }
    
      #Vincent-footer .horaire img {
        width: 80px;
        height: 80px;
      }
      .texte {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    
      #Vincent-footer .horraire-localisation p {
        font-size: 0.8em;
        color: white;
      }
      #Vincent-footer .horraire-localisation h5 {
        font-size: 0.8em;
      }
    
    
    /* FIN FOOTER*/

      #Vincent .fond .sharing {
        font-size: 2em;
      }
      
  }

      @media screen and (min-width: 480px) and (max-width : 800px) {
        
          #Vincent .hamburger {
            
            right: 80px;
            
          }

      }








      