body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


    
/* conteneur du Sharring is caring*/
#tony .titre{
    display: flex;
    width: 100%;
    margin-top: 35px;

}

/* Sharing is caring*/
#tony #texte{
    font-family: 'Roboto Condensed', sans-serif;
    width: 60%;
    font-weight: 500;
    font-size: 25px;
}

#tony #trait-1{
    width: 10%;
    height: 3px;
    background-color: #266654;
    margin-top: 20px;
}


#tony #trait-2{
    width: 60%;
    background-color: #ECB568;
    height: 3px;
    margin-top: 20px;   
}

/*Texte de bienvenue*/
#tony #box-presentation{
    background-color: rgba(236, 181, 104, 0.2);
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 50px;
    display: flex;

}

#tony p::first-letter{
    font-size: 30px;
}


#tony p{
    word-spacing: -.1ch;
    text-align: justify;
    font-size: 14px;
    padding: 15px;
    
}
/*Slide*/
#tony .contener_image{
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;

    
}

#tony #slide{
    display: flex;
    position: relative;
    height: auto;
}

#tony .image_nature{
    width: 100%;
    
}

/*Flèche du slide*/
#tony #precedent, #suivant{
    position: absolute;
    font-size: 45px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    cursor: pointer;
    
}


#tony #precedent{
    left: 0;
}

#tony #suivant{
    right: 0;
    
}

/*Chat bot*/
#tony .chat-bot{
    width: 100%;
    position: fixed;
    flex-direction: row-reverse;
    display: flex;
    bottom: 0;
    z-index: 1;

    /*
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
*/
}
/*
.chat-bot img:hover {
    transform:scale(1.2);
    transition: 0.6s;


}
*/
#tony .chat-bot img{

    width: 20%;
    cursor: pointer;

}




@media screen and ( min-width: 800px ) {
    
    /* conteneur du Sharring is caring*/
#tony .titre{
    margin-top: 35px;
    width: 100%;
    display: flex;

    
}

    
    /* Sharing is caring*/
#tony #texte{
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    width: fit-content;
    font-weight: 500;
    font-size: 45px;

}
    
#tony #trait-1{
    flex: 0.1;
    height: 3px;
    background-color: #266654;
    margin-top: 40px;
    
}
    
    
#tony #trait-2{
    flex: 1;
    background-color: #ECB568;
    height: 3px;
    margin-top: 40px;
        
}
    
    /*Texte de bienvenue*/
#tony #box-presentation{
    background-color: rgba(236, 181, 104, 0.2);
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
}
    
#tony p::first-letter{
    font-size: 45px;
}
    
    
#tony p{
    word-spacing: -.1ch;
    padding: 50px;
    font-size: 25px      
}


    /*Slide*/
#tony .contener_image{
    height: 500px;
    overflow: hidden;
    position: relative;


}
    
#tony #slide{
    display: flex;
    position: relative;
    height: 80%;
    width: 80%;
    margin-left: 155px;
}
    
#tony .image_nature{
    object-fit: cover;
}
    
    /*Flèche du slide*/
#tony #precedent, #suivant{
    position: absolute;
    font-size: 55px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    cursor: pointer;
    


}

    
    /* Hover sur les flèches*/
#tony #precedent:hover, #suivant:hover{
    font-size: 100px;
}
    
    
#tony #precedent{
    margin-left: 155px;
    
}
    
#tony #suivant{
    margin-right: 155px;       
}

/*Chat bot*/
#tony .chat-bot{
    width: 35%;
    position: fixed;
    right: 0;
    display: flex;


    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}

#tony .chat-bot img:hover {
    transform:scale(1.2);
    transition: 0.6s;


}

#tony .contener-chat{
    position: absolute;
    width: 20%;
    height: 38%;
    bottom: 70px;
    background-color: #000000e1;
    border-radius: 5px;
    box-shadow: 2px 2px 0px 0px #000;
    right: 60px;
    display: flex;
    flex-direction:row-reverse;

}


#tony #message-wallie{
    width: 70%;
    background-color: #266654;
    height: 23%;
    border-radius: 5px;
    color: white;
    margin: 5px;
    font-size: 15px;

}


#tony #text-chat{
    
    width: 96%;
    height: 23px;
    margin-top: 116%;
    position: absolute;
    background: transparent;
    color: white;
    border: none;



}


#tony .logo-envoyer{
    position: absolute;
    width: 13%;
    right: 2px;
    margin-bottom: 8px;
    cursor: pointer;
    top: 89%;
}
}