* {
  font-family: "roboto condensed", sans-serif;
  margin: 0;
  padding: 0;
}


#alexandre {
  margin-bottom: 50px;
}

#alexandre .services {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   
}

#alexandre .all {

  width: 90vw;
}

@media screen and (max-width: 800px) {
  
  #alexandre .allTitles {
    display: flex;
    align-items: flex-end;
    flex-basis: 0.6em;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    

  }
  #alexandre .titleO {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 10px 10px 0 0;
    flex: 1;
    
  }

  #alexandre .titleE {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 10px 10px 0 0;
    flex: 1;
  }

  #alexandre .titleB {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 10px 10px 0 0;
    flex: 1;
  }

  #alexandre .titleR {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 10px 10px 0 0;
    flex: 1;
  }

  #alexandre .subTitle {
    font-size: 14px;
    font-weight: bold;
    color: #266654;
    margin-bottom: 5px;
  }

  #alexandre .txt {
    font-size: 12px;
    margin-bottom: 10px;
    width: 100%;
  }

  #alexandre .italic {
    font-size: 10px;
    font-style: italic;
  
  }

  #alexandre .contenairTxt {
    display: flex;
    flex-direction: column-reverse;
    background-color: #ddd1a7;
    padding: 5px;
    width: 100%;
    min-width: 256px;
  }

  #alexandre img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 801px) {

  #alexandre .subTitleTrait {
        display:flex;
        align-items: center;
        justify-content: space-between;
        
    }

    #alexandre .trait {
        height: 2px;
        width: 50%;
        background-color: #ECB568;
        position: relative;
        top: 2px;
        margin-left: 3px;
    }

    #alexandre .allTitles {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    cursor: pointer;
    
  }

  #alexandre .titleO {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 15px 15px 0px 0px;
  }
  #alexandre .titleE {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 15px 15px 0px 0px;
  }
  #alexandre .titleB {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 15px 15px 0px 0px;
  }

  #alexandre h2{
    font-size: 18px;
  } 


  #alexandre .titleR {
    width: max-content;
    color: white;
    font-size: 6px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    border-radius: 15px 15px 0px 0px;
  }

  #alexandre .subTitle {
    font-size: 18px;
    font-weight: bold;
    color: #266654;
    margin-bottom: 5px;
  }

  #alexandre .txt {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    
  }

  #alexandre .italic {
    font-size: 14px;
    font-style: italic;
    padding-top: 15px;
  }

  #alexandre .contenairTxt {
    display: flex;
    background-color: #ddd1a7;
    padding: 5px;
    padding-right: 10px;
    width: fit-content;
    border-radius: 0 15px 15px 15px;
  }

  #alexandre .contenairImg {
    margin-right: 10px;
    width: 60%
}

#alexandre img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  #alexandre .layout {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    
  }
  #alexandre .all {

    width: 80vw;
  }
}

@media screen and (min-width: 1200px) {

  #alexandre .allTitles {
    cursor: pointer;
    
  }


  #alexandre .txt {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }

  #alexandre .italic {
    font-size: 16px;
    font-style: italic;
    padding-top: 15px;
  }

  #alexandre .titleO {
    width: max-content;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    
  }

  #alexandre .titleE {
    width: max-content;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    
  }

  #alexandre .titleB {
    width: max-content;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    
  }

  #alexandre .titleR {
    width: max-content;
    color: white;
    font-size: 8px;
    font-weight: bold;
    padding: 10px 10px 5px 10px;
    background-color: #ddd1a7;
    
  }

  #alexandre .subTitle {
    font-size: 20px;
    font-weight: bold;
    color: #266654;
    margin-bottom: 5px;
  }

  #alexandre h2{
    font-size: 20px;
  } 
}