* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  /* changer la couleur du titre h1*/
  body {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto Condensed", sans-serif;
  }
  #mamady .container {
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  #mamady .presentator h1 {
    color: #ecb568;
    font-size: 34px;
    padding: 30px;
  }
  /* changer le format des image avec border-radius à 50%*/

  #mamady .jessica .image .img1 {
    border-radius: 50%;
    width: 108px;
    height: 108px;
    border: 2px solid green;
    margin-left: 30px;
    object-fit: cover;
  }

  #mamady .image-arnaud .arnaudimg {
    border-radius: 50%;
    width: 108px;
    height: 108px;
    border: 2px solid green;

    object-fit: cover;
  }

  /* on commence à styliser les textes*/

  #mamady .text-jessica {
    color: black;

    margin: 0 0 10% 33%;
    width: 174 px;
    height: 188 px;
    font-style: italic;
    margin-right: 20px;
    font-size: 11px;
  }
  #mamady .text-arnaud {
    color: green;
    margin: 0 0 10% 33%;
    width: 200px;
    height: 199px;
    font-style: italic;
    font-size: 11px;
  }
  p::first-letter {
    font-size: 20px;
    color: green;
  }
  span {
    font-size: 10px;
    font-weight: bold;
  }
  footer {
    height: 40px;
    margin-bottom: 0;
  }

  .background-polygon {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #249a6e;
    opacity: 10%;
    clip-path: polygon(0 15%, 100% 10%, 100% 85%, 0 90%);
  }
  #mamady .text-arnaud {
    display: flex;
    justify-content: flex-start;

    flex-direction: column;
  }

#mamady .image-arnaud {
  display: flex;
  justify-content: flex-end;
  margin-right: 3rem;
}
/*
format desktop*/
@media screen and (min-width:800px){

  #mamady .jessica{
    display: flex;
    justify-content: center;
    

  }

  #mamady .arnaud{

display: flex;

flex-direction: row-reverse;

  }


}




