* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* changer la couleur du titre h2*/
#mamady {
position: relative;
margin-bottom: 50px;

}

#mamady .presentator {
  width: 100vw;
  margin: 0 auto;
}


#mamady h2{
  color:rgba(38, 102, 84, 1)
}

#mamady .container {
  width: 100%;
  height: 100%;
}
#mamady .background-polygon {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: #249a6e;
  opacity: 10%;
  clip-path: polygon(0 15%, 100% 10%, 100% 85%, 0 90%);
}
#mamady .presentator h1 {
  color: #ecb568;
  font-size: 25px;
  padding: 30px;
}
#mamady .jessica , .arnaud{
  position: relative;

  padding: 20px;
}
#mamady .jessica .image, #mamady .arnaud .image-arnaud{
  position: absolute;
  width: 30%;
}
#mamady .jessica{
  display: flex;

  justify-content: flex-end;
}

#mamady .jessica .image{

  left: 30px;
}

#mamady  .arnaud .image-arnaud{
  right: 30px;
}
   
  
  

  
#mamady .jessica .image .img1 {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid rgba(38, 102, 84, 1);
  object-fit: cover;
}
#mamady .image-arnaud .arnaudimg {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1/1;
  border: 2px solid rgba(38, 102, 84, 1);
  object-fit: cover;
}
  
  
  


  
#mamady .text-jessica {
  color: black;
  text-align: left;
  font-style: italic;
  font-size: 12px;
  width: 50%;
}
#mamady .text-jessica h2 {
  margin-bottom: 5px;
}

#mamady .text-arnaud {
  color: black;
  font-style: italic;
  font-size: 12px;
  width: 50%;
}
#mamady .text-arnaud h2 {
  margin-bottom: 5px;
}


#mamady p::first-letter {
  font-size: 20px;
  color: #266654;
}
#mamady span {
  font-size: 10px;
  font-weight: bold;
}

#mamady .text-arnaud {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#mamady .image-arnaud {
  display: flex;
  justify-content: flex-end;
}

@media screen and (  min-width: 600px) and (max-width:700px){
  #mamady .text-arnaud, #mamady .text-jessica{
    font-size: 14px;
  }
  #mamady .jessica .image .jessicaimg {
    margin-left: 10px;
    
  }
}
@media screen and (  min-width: 701px){
  #mamady .text-arnaud, #mamady .text-jessica{
    font-size: 15px;
  }

  #mamady .jessica .image, #mamady .arnaud .image-arnaud{
    
    width: 200px;
    height: 200px;
    
  }

}


/* format desktop*/
@media screen and (min-width:901px){

  #mamady .presentator {
    
    width: 80vw;
    
  }

  #mamady .text-arnaud, #mamady .text-jessica{
    font-size: 17px;
    width: 70%;

  }

  #mamady .jessica{
    margin-bottom: 20px;
  }
  #mamady .jessica .image, #mamady .arnaud .image-arnaud{
    
    width: 200px;
    height: 200px;
    
  }


}

  @media screen and (min-width:1100px){
/* 
    #mamady .text-arnaud, #mamady .text-jessica{
      font-size: 19px;
  

      margin: 0 0 10% 33%;
      width: 174 px;
      height: 188 px;
      font-style: italic;
      margin-right: 20px;
      font-size: 11px;
    }
    #mamady .text-arnaud {
      color: rgb(0, 0, 0);
      margin: 0 0 10% 10%;
      width: 200px;
      height: 199px;
      font-style: italic;
      font-size: 11px;

    } */

    #mamady .text-arnaud p{
      text-align: left;
    }
    #mamady .text-jessica p{
      text-align: left;
    }
    
    
    #mamady p::first-letter {
      font-size: 20px;
      color: #266654;

    }

    #mamady .jessica{
      margin-bottom: 60px;
    }
    #mamady .jessica .image{

      left: 40px;
    }
    #mamady .arnaud .image-arnaud{
      right: 40px;
    }
    #mamady .jessica , .arnaud{
      padding: 40px;
    }
   
}

@media screen and (min-width:1500px) {
      
  #mamady .jessica{
    margin-bottom: 80px;
    margin-top: 20px;
  }


  
}